#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Calendar
Name[pt]=Agenda
Exec=~/.local/bin/googlecalendar-webapp-biglinux-firefox
Icon=/usr/share/icons/hicolor/128x128/apps/g-calendar.svg
Categories=Google;
