#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Spreadsheets
Name[pt]=Planilhas
Exec=~/.local/bin/googlesheets-webapp-biglinux-firefox
Icon=/usr/share/icons/hicolor/128x128/apps/g-spreadsheets.svg
Categories=Google;
