#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Maps
Exec=~/.local/bin/googlemaps-webapp-biglinux-firefox
Icon=/usr/share/icons/hicolor/128x128/apps/g-maps.png
Categories=Google;
