#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Drive
Exec=~/.local/bin/googledrive-webapp-biglinux-firefox
Icon=webapp-g-drive
Categories=Google;
