[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=OpenStreetMap
Exec=~/.local/bin/openstreetmap-webapp-biglinux-firefox
Icon=/usr/share/icons/hicolor/128x128/apps/openstreetmap.png
Categories=Webapps;
