[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=OpenStreetMap
Exec=~/.local/bin/openstreetmap-webapp-biglinux-firefox
Icon=webapp-openstreetmap
Categories=Webapps;
