#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WhatsApp
Exec=~/.local/bin/whatsapp-webapp-biglinux-firefox
Icon=/usr/share/icons/hicolor/128x128/apps/whatsapp.svg
Categories=Webapps;
