#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=BigLinux Forum
Exec=big-webapps-exec filename="brave-forum.biglinux.com.br__-Default.desktop" brave --class="forum.biglinux.com.br" --profile-directory=Browser --app="https://forum.biglinux.com.br"
Icon=webapp-biglinux-globo
StartupWMClass=forum.biglinux.com.br
Categories=Webapps;
StartupNotify=false

Actions=SoftwareRender;

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender big-webapps-exec filename="brave-forum.biglinux.com.br__-Default.desktop" brave --class="forum.biglinux.com.br" --profile-directory=Browser --app="https://forum.biglinux.com.br"
