#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Facebook
Exec=/usr/bin/biglinux-webapp --class="www.facebook.com,Chromium-browser" --profile-directory=Default --app=https://www.facebook.com
Icon=facebook.png
StartupWMClass=www.facebook.com
