#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/usr/bin/biglinux-webapp --class="mail.google.com__mail,Chromium-browser" --profile-directory=Default --app=https://mail.google.com/mail/
Icon=gmail.png
StartupWMClass=mail.google.com__mail
