#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TuneIn Radio
Name[pt]=TuneIn Rádios
Exec=/usr/bin/biglinux-webapp --class="tunein.com__radio_home,Chromium-browser" --profile-directory=Default --app="https://tunein.com/radio/home"
Icon=tunein.png
StartupWMClass=tunein.com__radio_home

