#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Twitter
Exec=/usr/bin/biglinux-webapp --class="twitter.com,Chromium-browser" --profile-directory=Default --app=https://twitter.com
Icon=twitter.png
StartupWMClass=twitter.com
