#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Yahoo Mail
Exec=/usr/bin/biglinux-webapp --class="mail.yahoo.com,Chromium-browser" --profile-directory=Default --app=https://mail.yahoo.com
Icon=mailyahoo.png
StartupWMClass=mail.yahoo.com
