body {
background-image: url(background.jpg);
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
background-color: #000;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
padding: 0px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
font-weight: 250;
color: rgba(255, 255, 255, 1);
font-family: 'Droid Sans';
  text-align: justify;
  text-justify: inter-word;
}

#page2 {
	margin-right: 18%;
	margin-left: 18%;
	height: 100%;
}

#middle {
display: table-cell;
vertical-align: middle;
width: 100%;
padding-left: 8%;
padding-right: 8%;
padding-bottom: 15px;
padding-top: 0.3%;
font-size: 20px;
display: block;
box-sizing: border-box;
text-align: center;
border: 1px solid #ccc;
border-top: 0px;
border-bottom: 0px;
margin-bottom:0px;
height: 100%;
margin-top: -2%;
height: 102.2%;
}

.bar {
  position: relative;
  background: rgba(0,0,0,0.65);
  box-shadow: 0px 0px 95px 0px rgba(0,0,0,1);
  height: 100%;
  overflow:auto;
}

.bar:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(15px);
  -webkit-filter: blur(15px);
	height: 100%;
}

.material-tooltip {font-family:ubuntu;
font-weight:400;font-size:18px;
line-height: 120%;}

h1 {text-align:center;font-family:ubuntu;font-weight:400;font-size:20px;color:#fff;text-shadow:0em 0.05em 0 rgba(0,0,0,0.35)}
.button {color:#fff;background:transparent;border-width:2px;border-style: solid;border-color: #fff;position:relative;
         display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;cursor:pointer;
         font-family:ubuntu;font-weight:bold;font-size:18px}
.button:before, .button:after {content:'';display:block;position:absolute;border-color:#fff;box-sizing:border-box;
                               border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
.button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
.button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
.button:hover:before, .button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#353535}
.button:hover {color:#fff;background-color:#353535;border-color:#353535}

#mid {
vertical-align: middle;
width: 100%;
padding-left: 8%;
padding-right: 8%;
padding-bottom: 15px;
font-size: 20px;
display: block;
box-sizing: border-box;
border: 1px solid #ccc;
border-top: 0px;
border-bottom: 0px;
margin-bottom:0px;
height: 100%;
top: 0%;
}

#webapps-icon {
    display: inline-flex;
    vertical-align: middle;
    margin-top: -10px;
    margin-right: 7px;
    margin-left: -3px;
}

.select-wrapper span.caret {
    font-size: 16px;
    color: #ffffff;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4);
}
