body {
background-image: url(background.jpg);
background-position: center center;
background-repeat:  no-repeat;
background-attachment: fixed;
background-size:  cover;
background-color: #000;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
padding: 0px;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
font-weight: 250;
color: rgba(255, 255, 255, 1);
font-family: 'Droid Sans';
  text-align: justify;
  text-justify: inter-word;
}

#page2 {
	margin-right: 18%;
	margin-left: 18%;
	height: 100%;
}

#middle {
display: table-cell;
vertical-align: middle;
width: 100%;
padding-left: 8%;
padding-right: 8%;
padding-bottom: 15px;
padding-top: 5%;
font-size: 20px;
display: block;
box-sizing: border-box;
text-align: center;
border: 1px solid #ccc;
border-top: 0px;
border-bottom: 0px;
margin-bottom:0px;
height: 100%;
top: 0%;
}


.bar {
  position: relative;
  background: rgba(0,0,0,0.65);
  box-shadow: 0px 0px 95px 0px rgba(0,0,0,1);
	height: 100%;
}

.bar:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 100%;
  top: 0; right: 0; left: 0;
  filter: blur(15px);
  -webkit-filter: blur(15px);
	height: 100%;
}

h1 {text-align:center;font-family:ubuntu;font-weight:400;font-size:20px;color:#fff;text-shadow:0em 0.05em 0 rgba(0,0,0,0.35)}
.button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;
margin:1em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;height: 120px; width: 200px;
font-family:ubuntu;font-weight:bold;font-size:18px}
.button:before, .button:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;
border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
.button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
.button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
.button:hover:before, button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#fff}
.button:hover {color:#353535;background-color:#fff;border-color:#fff}
.panel {max-width:960px;text-align:center;position:relative;margin:auto;}

.bw button {color:#fff;border-color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.1);
box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1) inset
}
.bw button:before, .bw button:after  {border-color:#fff}
.bw button:hover:before, .bw button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#353535;}
.bw button:hover {color:#fff;background-color:#353535;border-color:#353535}
