#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Contacts
Name[pt]=Contatos
Exec=/usr/bin/biglinux-webapp --class="contacts.google.com,Chromium-browser" --profile-directory=Default --app=https://contacts.google.com
Icon=webapp-g-contacts
StartupWMClass=contacts.google.com
Categories=Google;
X-WebApp-URL=https://contacts.google.com
