[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Discord
Exec=/usr/bin/biglinux-webapp --class=discord.com,Chromium-browser --profile-directory=Default --app=https://discord.com
Icon=/usr/share/icons/hicolor/128x128/apps/discord.png
Categories=Webapps;
StartupWMClass=discord.com
