[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Discord
Exec=/usr/bin/biglinux-webapp --class=discord.com,Chromium-browser --profile-directory=Default --app=https://discord.com
Icon=webapp-discord
Categories=Webapps;
StartupWMClass=discord.com
X-WebApp-URL=https://discord.com
