[Desktop Entry]
MimeType=text/html
Name=Spreadsheets
Name[pt]=Planilhas
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Terminal=false
Version=1.0
Exec=/usr/bin/biglinux-webapp --class="docs.google.com__spreadsheets,Chromium-browser" --profile-directory=Default --app=https://docs.google.com/spreadsheets
Icon=webapp-g-spreadsheets
StartupWMClass=docs.google.com__spreadsheets
Categories=Google
X-WebApp-URL=https://docs.google.com/spreadsheets
