#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Drawings
Exec=/usr/bin/biglinux-webapp --class="drawings.google.com,Chromium-browser" --profile-directory=Default --app=https://drawings.google.com
Icon=webapp-g-drawings
StartupWMClass=drawings.google.com
Categories=Google;
X-WebApp-URL=https://drawings.google.com
