#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Drive
Exec=/usr/bin/biglinux-webapp --class="drive.google.com,Chromium-browser" --profile-directory=Default --app=https://drive.google.com
Icon=webapp-g-drive
StartupWMClass=drive.google.com
Categories=Google;
X-WebApp-URL=https://drive.google.com
