#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Facebook
Exec=/usr/bin/biglinux-webapp --class="facebook.com,Chromium-browser" --profile-directory=Default --app=https://facebook.com
Icon=webapp-facebook
StartupWMClass=facebook.com
Categories=Webapps;
X-WebApp-URL=https://facebook.com
