#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=BigLinux Forum
Name[pt]=Fórum BigLinux
Exec=/usr/bin/biglinux-webapp --class="forum.biglinux.com.br,Chromium-browser" --profile-directory=Default --app=https://forum.biglinux.com.br
Icon=webapp-biglinux-globo
StartupWMClass=forum.biglinux.com.br
Categories=Webapps;
X-WebApp-URL=https://forum.biglinux.com.br
