[Desktop Entry]
MimeType=text/html
Name=Gmail
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Terminal=false
Version=1.0
Exec=/usr/bin/biglinux-webapp --class="gmail.com,Chromium-browser" --profile-directory=Default --app=https://gmail.com
Icon=webapp-g-gmail
StartupWMClass=gmail.com
Categories=Google
X-WebApp-URL=https://gmail.com
