#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Slides
Exec=/usr/bin/biglinux-webapp --class="docs.google.com__presentation,Chromium-browser" --profile-directory=Default --app=https://docs.google.com/presentation
Icon=/usr/share/icons/hicolor/128x128/apps/g-presentation.png
StartupWMClass=docs.google.com__presentation
Categories=Google;
