#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Classroom
Exec=/usr/bin/biglinux-webapp --class="classroom.google.com,Chromium-browser" --profile-directory=Default --app=https://classroom.google.com
Icon=classroom.png
StartupWMClass=classroom.google.com
Categories=Google;
