[Desktop Entry]
MimeType=text/html
Name=Maps
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Terminal=false
Version=1.0
Exec=/usr/bin/biglinux-webapp --class="google.com__maps_@,Chromium-browser" --profile-directory=Default --app=https://google.com/maps/@?api=1&map_action=map&basemap=satellite&layer=traffic
Icon=webapp-g-maps
StartupWMClass=google.com__maps_@
Categories=Google
X-WebApp-URL=https://google.com/maps/@?api=1&map_action=map&basemap=satellite&layer=traffic
