#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Spreadsheets
Name[pt]=Planilhas
Exec=/usr/bin/biglinux-webapp --class="docs.google.com__spreadsheets,Chromium-browser" --profile-directory=Default --app=https://docs.google.com/spreadsheets
Icon=/usr/share/icons/hicolor/128x128/apps/g-spreadsheets.png
StartupWMClass=docs.google.com__spreadsheets
Categories=Google;
