#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Hangouts
Exec=/usr/bin/biglinux-webapp --class="hangouts.google.com,Chromium-browser" --profile-directory=Default --app=https://hangouts.google.com
Icon=/usr/share/icons/hicolor/128x128/apps/g-hangouts.png
StartupWMClass=hangouts.google.com
Categories=Google;
