#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Instagram
Exec=/usr/bin/biglinux-webapp --class="instagram.com,Chromium-browser" --profile-directory=Default --app=https://instagram.com
Icon=webapp-instagram
StartupWMClass=instagram.com
Categories=Webapps;
X-WebApp-URL=https://instagram.com
