[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Jitsi Meet
Exec=/usr/bin/biglinux-webapp --class=meet.jit.si,Chromium-browser --profile-directory=Default --app=https://meet.jit.si/
Icon=/usr/share/icons/hicolor/128x128/apps/jitsi.png
Categories=Webapps;
StartupWMClass=meet.jit.si
