#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Meet
Exec=/usr/bin/biglinux-webapp --class="meet.google.com,Chromium-browser" --profile-directory=Default --app=https://meet.google.com
Icon=webapp-g-meet
StartupWMClass=meet.google.com
Categories=Google;
X-WebApp-URL=https://meet.google.com
