[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Jitsi Meet
Exec=/usr/bin/biglinux-webapp --class=meet.jit.si,Chromium-browser --profile-directory=Default --app=https://meet.jit.si/
Icon=webapp-jitsi
StartupWMClass=meet.jit.si
Categories=Webapps;
X-WebApp-URL=https://meet.jit.si/
