#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Messenger
Exec=/usr/bin/biglinux-webapp --class="messenger.com,Chromium-browser" --profile-directory=Default --app=https://messenger.com
Icon=webapp-messenger
StartupWMClass=messenger.com
Categories=Webapps;
X-WebApp-URL=https://messenger.com
