#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Youtube Music
Exec=/usr/bin/biglinux-webapp --class="music.youtube.com,Chromium-browser" --profile-directory=Default --app=https://music.youtube.com
Icon=webapp-g-youtubemusic
StartupWMClass=music.youtube.com
Categories=Google;
X-WebApp-URL=https://music.youtube.com
