#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Amazon Music
Exec=/usr/bin/biglinux-webapp --class="music.amazon.com.br,Chromium-browser" --profile-directory=Default --app=https://music.amazon.com.br
Icon=webapp-amazonmusic
StartupWMClass=music.amazon.com.br
Categories=Webapps;
