#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Netflix
Exec=/usr/bin/biglinux-webapp --class="netflix.com,Chromium-browser" --profile-directory=Default --app=https://netflix.com/
Icon=webapp-netflix
StartupWMClass=netflix.com
Categories=Webapps;
X-WebApp-URL=https://netflix.com/
