#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Netflix
Exec=/usr/bin/biglinux-webapp --class="www.netflix.com,Chromium-browser" --profile-directory=Default --app=https://www.netflix.com/
Icon=/usr/share/icons/hicolor/128x128/apps/netflix.png
Categories=Webapps;
StartupWMClass=www.netflix.com
