[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Notion
Exec=/usr/bin/biglinux-webapp --class="notion.so,Chromium-browser" --profile-directory=Default --app=https://notion.so
Icon=webapp-notion
StartupWMClass=notion.so
Categories=Webapps;
X-WebApp-URL=https://notion.so
