[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Odysee
Exec=/usr/bin/biglinux-webapp --class=odysee.com,Chromium-browser --profile-directory=Default --app=https://odysee.com/
Icon=/usr/share/icons/hicolor/128x128/apps/odysee.png
Categories=Webapps;
StartupWMClass=odysee.com
