#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Office 365
Exec=/usr/bin/biglinux-webapp --class="office.com,Chromium-browser" --profile-directory=Default --app=https://office.com
Icon=webapp-office365
StartupWMClass=office.com
Categories=Webapps;
X-WebApp-URL=https://office.com
