[Desktop Entry]
Name[pt_BR]=Traduzir Docs
MimeType=text/html
Name=Docs Translator
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Terminal=false
Version=1.0
Exec=/usr/bin/biglinux-webapp --class="onlinedoctranslator.com__translationform,Chromium-browser" --profile-directory=Default --app=https://onlinedoctranslator.com/translationform
Icon=webapp-doctranslator
StartupWMClass=onlinedoctranslator.com__translationform
Categories=Webapps
X-WebApp-URL=https://onlinedoctranslator.com/translationform
