#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Docs Translator
Name[pt_BR]=Traduzir Docs
Exec=/usr/bin/biglinux-webapp --class="www.onlinedoctranslator.com__translationform,Chromium-browser" --profile-directory=Default --app=https://www.onlinedoctranslator.com/translationform
Icon=doctranslator.png
StartupWMClass=www.onlinedoctranslator.com__translationform
Categories=Webapps;
