[Desktop Entry]
MimeType=text/html
Name=Spotify
Type=Application
StartupWMClass=open.spotify.com__browse_featured
X-WebApp-Browser=brave
Categories=Webapps
Icon=webapp-spotifywebapp
Terminal=false
Version=1.0
Exec=biglinux-webapp --class="open.spotify.com__browse_featured,Chromium-browser" --profile-directory=Default --app=https://open.spotify.com/browse/featured

Actions=SoftwareRender;

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender biglinux-webapp --class="open.spotify.com__browse_featured,Chromium-browser" --profile-directory=Default --app=https://open.spotify.com/browse/featured
