[Desktop Entry]
MimeType=text/html
Name=Spotify
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Terminal=false
Version=1.0
Exec=biglinux-webapp --class="open.spotify.com__browse_featured,Chromium-browser" --profile-directory=Default --app=https://open.spotify.com/browse/featured
Icon=webapp-spotifywebapp
StartupWMClass=open.spotify.com__browse_featured
Categories=Webapps
X-WebApp-URL=https://open.spotify.com/browse/featured
