#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=PDF Converter
Name[pt_BR]=Converter PDF
Exec=/usr/bin/biglinux-webapp --class="pdfwordconvert.com__convertform,Chromium-browser" --profile-directory=Default --app=https://pdfwordconvert.com/convertform
Icon=webapp-pdfconvert
StartupWMClass=pdfwordconvert.com__convertform
Categories=Webapps;
X-WebApp-URL=https://pdfwordconvert.com/convertform
