#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Photos
Exec=/usr/bin/biglinux-webapp --class="photos.google.com,Chromium-browser" --profile-directory=Default --app=https://photos.google.com
Icon=webapp-g-photos
StartupWMClass=photos.google.com
Categories=Google;
X-WebApp-URL=https://photos.google.com
