#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Prime Video
Exec=biglinux-webapp --class="www.primevideo.com,Chromium-browser" --profile-directory=Default --app=https://www.primevideo.com/
Icon=primevideo.png
Categories=Webapps;
StartupWMClass=www.primevideo.com
