#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Spotify
Exec=biglinux-webapp --class="open.spotify.com__browse_featured,Chromium-browser" --profile-directory=Default --app=https://open.spotify.com/browse/featured
Icon=spotifywebapp.png
Categories=Webapps;
StartupWMClass=open.spotify.com__browse_featured
