#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Telegram
Exec=/usr/bin/biglinux-webapp --class="webk.telegram.org,Chromium-browser" --profile-directory=Default --app=https://webk.telegram.org
Icon=telegram-webapp.png
StartupWMClass=webk.telegram.org
Categories=Webapps;
