#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Twitch
Exec=/usr/bin/biglinux-webapp --class="www.twitch.tv,Chromium-browser" --profile-directory=Default --app=https://www.twitch.tv
Icon=/usr/share/icons/hicolor/128x128/apps/twitch.png
StartupWMClass=www.twitch.tv
Categories=Webapps;
