#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Twitter
Exec=/usr/bin/biglinux-webapp --class="twitter.com,Chromium-browser" --profile-directory=Default --app=https://twitter.com
Icon=webapp-twitter
StartupWMClass=twitter.com
Categories=Webapps;
X-WebApp-URL=https://twitter.com
