[Desktop Entry]
MimeType=text/html
Name=Waze
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Terminal=false
Version=1.0
Exec=/usr/bin/biglinux-webapp --class="waze.com__livemap,Chromium-browser" --profile-directory=Default --app=https://waze.com/livemap
Icon=webapp-g-waze
StartupWMClass=waze.com__livemap
Categories=Google
X-WebApp-URL=https://waze.com/livemap
