#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Telegram
Exec=/usr/bin/biglinux-webapp --class="web.telegram.org,Chromium-browser" --profile-directory=Default --app=https://web.telegram.org
Icon=webapp-telegram-webapp
StartupWMClass=web.telegram.org
Categories=Webapps;
X-WebApp-URL=https://web.telegram.org
