[Desktop Entry]
MimeType=text/html
Name=Maps
Type=Application
StartupWMClass=www.google.com__maps_@
X-WebApp-Browser=brave
Categories=Google
Icon=webapp-g-maps
Terminal=false
Version=1.0
Exec=/usr/bin/biglinux-webapp --class="www.google.com__maps_@,Chromium-browser" --profile-directory=Default --app=https://www.google.com/maps/@?api=1&map_action=map&basemap=satellite&layer=traffic

Actions=SoftwareRender;

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender /usr/bin/biglinux-webapp --class="www.google.com__maps_@,Chromium-browser" --profile-directory=Default --app=https://www.google.com/maps/@?api=1&map_action=map&basemap=satellite&layer=traffic
