#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
Name=Youtube
Exec=/usr/bin/biglinux-webapp --class="youtube.com,Chromium-browser" --profile-directory=Default --app=https://youtube.com
Icon=webapp-g-youtube
StartupWMClass=youtube.com
Categories=Google;
X-WebApp-URL=https://youtube.com
