#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Youtube
Exec=/usr/bin/biglinux-webapp --class="youtube.com,Chromium-browser" --profile-directory=Default --app=https://youtube.com
Icon=/usr/share/icons/hicolor/128x128/apps/g-youtube.png
StartupWMClass=youtube.com
Categories=Google;
