#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Office 365
Exec=big-webapps-exec filename="brave-www.office.com__-Default.desktop" brave --class="www.office.com" --profile-directory=Browser --app="https://www.office.com"
Icon=webapp-office365
StartupWMClass=www.office.com
Categories=Webapps;
StartupNotify=false

Actions=SoftwareRender;

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender big-webapps-exec filename="brave-www.office.com__-Default.desktop" brave --class="www.office.com" --profile-directory=Browser --app="https://www.office.com"
