#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Deezer music
Name[pt]=Deezer músicas
Exec=~/.local/bin/deezer-webapp-biglinux-io.gitlab.librewolf-community
Icon=/usr/share/icons/hicolor/128x128/apps/deezer.svg
Categories=Webapps;
