#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Drive
Exec=~/.local/bin/googledrive-webapp-biglinux-io.gitlab.librewolf-community
Icon=/usr/share/icons/hicolor/128x128/apps/g-drive.png
Categories=Google;
