#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Hangouts
Exec=~/.local/bin/hangouts-webapp-biglinux-io.gitlab.librewolf-community
Icon=g-hangouts.png
Categories=Google;
