[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Jitsi Meet
Exec=~/.local/bin/jitsimeet-webapp-biglinux-io.gitlab.librewolf-community
Icon=webapp-jitsi
Categories=Webapps;
