#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Messenger
Exec=~/.local/bin/messenger-webapp-biglinux-io.gitlab.librewolf-community
Icon=webapp-messenger
Categories=Webapps;
