[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Odysee
Exec=~/.local/bin/odysee-webapp-biglinux-io.gitlab.librewolf-community
Icon=odysee.png
Categories=Webapps;
