[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Photopea
Exec=~/.local/bin/photopea-webapp-biglinux-io.gitlab.librewolf-community
Icon=photopea.png
Categories=Webapps;
