[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Snapdrop
Exec=~/.local/bin/snapdrop-webapp-biglinux-io.gitlab.librewolf-community
Icon=webapp-snapdrop
Categories=Webapps;
