#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Youtube Music
Exec=~/.local/bin/youtubemusic-webapp-biglinux-io.gitlab.librewolf-community
Icon=webapp-g-youtubemusic
Categories=Google;
