#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Amazon Music
Exec=~/.local/bin/amazonmusic-webapp-biglinux-librewolf
Icon=webapp-amazonmusic
Categories=Webapps;
