#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Meet
Exec=~/.local/bin/googlemeet-webapp-biglinux-librewolf
Icon=g-meet.png
Categories=Google;
