#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Docs
Name[pt]=Documentos
Exec=~/.local/bin/googledocs-webapp-biglinux-librewolf
Icon=google-docs.png
Categories=Google;
