#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Hangouts
Exec=~/.local/bin/hangouts-webapp-biglinux-librewolf
Icon=google-hangouts.png
Categories=Google;
