[Desktop Entry]
Name=Big WebApps - Add and Remove WebApps
Name[pt_BR]=BigWebApps - Adicionar e Remover WebApps
Name[bg]=Добавяне и премахване на уеб приложения
Name[cs]=Přidání a odebrání webových aplikací
Name[da]=Tilføj og fjern webapps
Name[de]=Hinzufügen und Entfernen von Web-Apps
Name[el]=Προσθήκη και κατάργηση εφαρμογών ιστού
Name[es]=Agregar y quitar aplicaciones web
Name[et]=Veebirakenduste lisamine ja eemaldamine
Name[fi]=Verkkosovellusten lisääminen ja poistaminen
Name[fr]=Ajouter et supprimer des applications Web
Name[he]=הוספה והסרה של אפליקציות אינטרנט
Name[hr]=Dodavanje i uklanjanje web-aplikacija
Name[hu]=Webalkalmazások hozzáadása és eltávolítása
Name[is]=Bæta við og fjarlægja vefforrit
Name[it]=Aggiungere e rimuovere app Web
Name[ja]=Web アプリの追加と削除
Name[ko]=웹앱 추가 및 제거
Name[nl]=Web Apps toevoegen en verwijderen
Name[no]=Legge til og fjerne webapper
Name[pl]=Dodawanie i usuwanie aplikacji internetowych
Name[pt]=Adicionar e Remover WebApps
Name[ro]=Adăugarea și eliminarea aplicațiilor web
Name[ru]=Добавление и удаление веб-приложений
Name[sk]=Pridanie a odstránenie webových aplikácií
Name[sv]=Lägga till och ta bort webbappar
Name[tr]=Web Uygulamaları Ekleme ve Kaldırma
Name[uk]=Додавання та видалення веб-програм
Name[zh]=添加和删除 Web 应用
Type=Application
MimeType=text/html;text/xml;application/xhtml_xml;
#StartupWMClass=BigBashView
Categories=Webapps;Biglinux;
Terminal=false
StartupNotify=true
Exec=big-webapps
Icon=webapp
