[Desktop Entry]
Exec=biglinux-webapps
Icon=webapp
Name[pt_BR]=Adicionar e Remover Web Apps
Name=Add and Remove Web Apps
StartupNotify=true
Terminal=false
Type=Application
