[Desktop Entry]
Exec=biglinux-webapps
Icon=webapp
Name[pt_BR]=Adicionar ou Remover Web Apps
Name=Add or Remove Web Apps
StartupNotify=true
Terminal=false
Type=Application
