[Desktop Entry]
Type=Application
Name=Add and Remove Web Apps
Name[pt]=Adicionar e Remover Web Apps
Icon=webapp
Exec=biglinux-webapps
Categories=Webapps;
Terminal=false
StartupNotify=true
