[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Discord
Exec=~/.local/bin/discord-webapp-biglinux-org.mozilla.firefox
Icon=webapp-discord
Categories=Webapps;
