#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Translator
Name[pt]=Tradutor
Exec=~/.local/bin/googletranslate-webapp-biglinux-org.mozilla.firefox
Icon=webapp-g-translate
Categories=Google;
