#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WhatsApp
Exec=~/.local/bin/whatsapp-webapp-biglinux-org.mozilla.firefox
Icon=whatsapp.png
Categories=Webapps;
